<% layout("layouts/boilerplate.ejs") %>

<div class="homepage">
    <div class="hero-text">
        <h1 class="fade-in">Find Your Perfect Stay with Wanderlust</h1>
        <p class="slide-up">Discover unique stays & experiences around the world.</p>
    </div>
    
    <div class="row mt-5">
        <div class="cols col-6 offset-3">
            <form method="GET" action="/listings/search" novalidate>
                <div class="search">
                    <div class="location">
                        <b> Enter Location : </b>
                        <input type="text" placeholder="Where are you Going?" name="location">
                    </div>
                    <button><i class="fa-solid fa-magnifying-glass search-button"></i></button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- <div class="info-section">
        <h2>Why Choose Wanderlust?</h2>
        <p>Find unique stays and experiences in stunning locations worldwide.</p>
    
        <div class="features">
            <div class="feature">
                <i class="fa-solid fa-globe"></i>
                <h3>Global Stays</h3>
                <p>Explore stays in 190+ countries.</p>
            </div>
            <div class="feature">
                <i class="fa-solid fa-star"></i>
                <h3>Top-rated Hosts</h3>
                <p>Book with confidence from highly rated hosts.</p>
            </div>
            <div class="feature">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <h3>Unforgettable Experiences</h3>
                <p>From cozy cabins to beachside villas, find your perfect getaway.</p>
            </div>
        </div>
    </div> -->
    
    
</div>
