<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row mt-2">
            <div class="cols col-8 offset-2">
                <h2>Create a New listing</h2>
                <br>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" type="text" placeholder="title" name="listing[title]" class="form-control" required/>
                        <div class="invalid-feedback">Title should be valid</div>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea id="desc" name="listing[description]" placeholder="Some content"
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter a valid description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload listing image</label>
                        <input id="image" type="file" name="listing[image]"
                            class="form-control" required>
                        <div class="invalid-feedback">Please upload a image</div>    
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" type="number" placeholder="enter price  e.g.1200" name="listing[price]"
                                class="form-control" required/>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" type="text" placeholder="enter country  e.g.India"
                                name="listing[country]" class="form-control" required/>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" type="text" placeholder="enter location  e.g.Jaipur Rajastan"
                            name="listing[location]" class="form-control" required/>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>

                    <br>
                    <button class="btn btn-dark col-3">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>