<% layout("layouts/boilerplate.ejs") %>

<div class="row mt-2">
    <div class="cols col-6 offset-3">
        <h2>Signup on Wanderlust</h2>
        <br>
        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" type="text" placeholder="username" name="username" class="form-control" required/>
                <div class="invalid-feedback">Username should be valid</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input id="email" type="email" placeholder="email" name="email" class="form-control" required/>
                <div class="invalid-feedback">Please enter a valid email</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" placeholder="password" name="password"
                    class="form-control" required>
                <div class="invalid-feedback">Please enter a strong password</div>
            </div>
            
            <br>
            <button class="btn btn-primary col-3">Add</button>
            <br><br>
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>